In [1]:
%run imports.ipynb

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Checking Games Totals for Each Type of Data File, Choosing Between Discrepancies

In [53]:
import os
relevant_path = "data/"
included_extensions = ['7z']
file_names = [fn for fn in os.listdir(relevant_path)
              if any(fn.endswith(ext) for ext in included_extensions)]
len(set(file_names))

636

In [55]:
relevant_path = "data/csv/"
included_extensions = ['csv']
file_names = [fn for fn in os.listdir(relevant_path)
              if any(fn.endswith(ext) for ext in included_extensions)]
len(file_names)

602

In [18]:
allset = set(range(1,636))
# allset = {str(x) for x in allset}

In [56]:
file_ends = []
for name in file_names :
    file_ends += [int(name[-7:-4])]

In [20]:
file_ends[:10]

[1, 2, 3, 4, 5, 7, 9, 10, 11, 12]

In [21]:
allset.difference(file_ends)

{6,
 8,
 14,
 30,
 100,
 238,
 240,
 276,
 282,
 587,
 588,
 589,
 590,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 629,
 630,
 631,
 632,
 633,
 634,
 635}

In [23]:
shots = pd.read_csv("data/shots/shots.csv")
shots.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205538 entries, 0 to 205537
Data columns (total 24 columns):
GRID_TYPE              205538 non-null object
GAME_ID                205538 non-null int64
GAME_EVENT_ID          205538 non-null int64
PLAYER_ID              205538 non-null int64
PLAYER_NAME            205538 non-null object
TEAM_ID                205538 non-null int64
TEAM_NAME              205538 non-null object
PERIOD                 205538 non-null int64
MINUTES_REMAINING      205538 non-null int64
SECONDS_REMAINING      205538 non-null int64
EVENT_TYPE             205538 non-null object
ACTION_TYPE            205538 non-null object
SHOT_TYPE              205538 non-null object
SHOT_ZONE_BASIC        205538 non-null object
SHOT_ZONE_AREA         205538 non-null object
SHOT_ZONE_RANGE        205538 non-null object
SHOT_DISTANCE          205538 non-null int64
LOC_X                  205538 non-null int64
LOC_Y                  205538 non-null int64
SHOT_ATTEMPTED_FLAG    205538 non-null int64
SHOT_MADE_FLAG         205538 non-null int64
GAME_DATE              205538 non-null int64
HTM                    205538 non-null object
VTM                    205538 non-null object
dtypes: int64(13), object(11)
memory usage: 37.6+ MB

In [24]:
shots_game_ids = set(shots['GAME_ID'])
len(shots_game_ids)
# These are all shots in the NBA season

1230

In [26]:
shots = pd.read_csv("data/shots/shots_fixed.csv")
print(shots.info())

shots_game_ids = set(shots['GAME_ID'])
len(shots_game_ids)
# These are all shots in the NBA season

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84467 entries, 0 to 84466
Data columns (total 27 columns):
ACTION_TYPE            84467 non-null object
EVENTTIME              84467 non-null int64
EVENT_TYPE             84467 non-null object
GAME_DATE              84467 non-null int64
GAME_EVENT_ID          84467 non-null int64
GAME_ID                84467 non-null int64
GRID_TYPE              84467 non-null object
HTM                    84467 non-null object
LOC_X                  84467 non-null float64
LOC_Y                  84467 non-null float64
MINUTES_REMAINING      84467 non-null int64
PERIOD                 84467 non-null int64
PLAYER_ID              84467 non-null int64
PLAYER_NAME            84467 non-null object
QUARTER                84467 non-null float64
SECONDS_REMAINING      84467 non-null int64
SHOT_ATTEMPTED_FLAG    84467 non-null int64
SHOT_DISTANCE          84467 non-null int64
SHOT_MADE_FLAG         84467 non-null int64
SHOT_TIME              84467 non-null float64
SHOT_TYPE              84467 non-null object
SHOT_ZONE_AREA         84467 non-null object
SHOT_ZONE_BASIC        84467 non-null object
SHOT_ZONE_RANGE        84467 non-null object
TEAM_ID                84467 non-null int64
TEAM_NAME              84467 non-null object
VTM                    84467 non-null object
dtypes: float64(4), int64(12), object(11)
memory usage: 17.4+ MB
None

523

In [31]:
relevant_path = "data/events/"
included_extensions = ['csv']
file_names = [fn for fn in os.listdir(relevant_path)
              if any(fn.endswith(ext) for ext in included_extensions)]
len(set(file_names))

632

In [33]:
file_ends = []
for name in file_names :
    file_ends += [int(name[-7:-4])]
base_set = allset.difference(file_ends)

In [34]:
previous_set = {6,
 8,
 14,
 30,
 100,
 238,
 240,
 276,
 282,
 587,
 588,
 589,
 590,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614}

In [35]:
base_set.difference(previous_set)

set()

In [36]:
len(previous_set)

26

### Checking Master File with All Season's Games as Last Check if Missing Games are Recoverable

In [39]:
shots = pd.read_csv("data/shots/shots.csv")
print(shots.info())

shots_game_ids = set(shots['GAME_ID'])
len(shots_game_ids)
# These are all shots in the NBA season

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205538 entries, 0 to 205537
Data columns (total 24 columns):
GRID_TYPE              205538 non-null object
GAME_ID                205538 non-null int64
GAME_EVENT_ID          205538 non-null int64
PLAYER_ID              205538 non-null int64
PLAYER_NAME            205538 non-null object
TEAM_ID                205538 non-null int64
TEAM_NAME              205538 non-null object
PERIOD                 205538 non-null int64
MINUTES_REMAINING      205538 non-null int64
SECONDS_REMAINING      205538 non-null int64
EVENT_TYPE             205538 non-null object
ACTION_TYPE            205538 non-null object
SHOT_TYPE              205538 non-null object
SHOT_ZONE_BASIC        205538 non-null object
SHOT_ZONE_AREA         205538 non-null object
SHOT_ZONE_RANGE        205538 non-null object
SHOT_DISTANCE          205538 non-null int64
LOC_X                  205538 non-null int64
LOC_Y                  205538 non-null int64
SHOT_ATTEMPTED_FLAG    205538 non-null int64
SHOT_MADE_FLAG         205538 non-null int64
GAME_DATE              205538 non-null int64
HTM                    205538 non-null object
VTM                    205538 non-null object
dtypes: int64(13), object(11)
memory usage: 37.6+ MB
None

1230

In [40]:
shots.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,EVENT_TYPE,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,21500014,20,202083,Wesley Matthews,1610612742,Dallas Mavericks,1,9,4,Missed Shot,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,24,78,228,1,0,20151028,PHX,DAL
1,Shot Chart Detail,21500014,168,202083,Wesley Matthews,1610612742,Dallas Mavericks,2,11,2,Missed Shot,Jump Shot,3PT Field Goal,Above the Break 3,Left Side Center(LC),24+ ft.,25,-232,106,1,0,20151028,PHX,DAL
2,Shot Chart Detail,21500014,217,202083,Wesley Matthews,1610612742,Dallas Mavericks,2,8,10,Made Shot,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,24,177,174,1,1,20151028,PHX,DAL
3,Shot Chart Detail,21500014,340,202083,Wesley Matthews,1610612742,Dallas Mavericks,3,10,57,Made Shot,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,24,222,111,1,1,20151028,PHX,DAL
4,Shot Chart Detail,21500014,358,202083,Wesley Matthews,1610612742,Dallas Mavericks,3,9,33,Missed Shot,Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),16-24 ft.,21,182,110,1,0,20151028,PHX,DAL

In [41]:
# Last date with movement data is 01.23.2016.UTA.at.WAS.7z
shots = shots[shots['GAME_DATE'] < 20160124]
shots.shape

(109656, 24)

In [63]:
master_set = set(shots['GAME_ID'])
len(set(shots['GAME_ID']))

661

In [67]:
master_ends = []
for name in master_set :
    name = str(name)
    master_ends += [int(name[-3:])]

In [68]:
master_ends = set(master_ends)
len(master_ends)

661

In [59]:
processed_ends = []
for name in file_names :
    name = str(name)
    processed_ends += [int(name[-7:-4])]
processed_ends = set(processed_ends)

In [69]:
processed_ends.difference(master_ends)

set()

In [70]:
master_ends.difference(processed_ends)
# consecutive missing games are all within this range:
#  587,588,589,590,602,603,604,605,606,607,608,609,610,611,612,613,614
# all games after 628 all movement data seems no longer publicly available
# missing 9 games data for the 1st 600 games, will use that for all training

{6,
 8,
 14,
 30,
 100,
 238,
 240,
 276,
 282,
 587,
 588,
 589,
 590,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 655,
 657,
 658,
 659,
 660,
 661,
 662,
 663}

In [77]:
missing_range = shots[(shots['GAME_ID'] > 21500586) & (shots['GAME_ID'] < 21500628)]
missing_range = missing_range[['GAME_ID','GAME_DATE','HTM','VTM']]
missing_range.drop_duplicates(inplace=True)
missing_range.sort_values('GAME_ID')
# ORL TOR completely missing and PHI CHI, MEM DET, SAS CLE have zip files but no data, 1 KB size
# All other files that must not have zipped due to error: 01.23.2016.CHI.at.CLE, 01.23.2016.UTA.at.WAS

        GAME_ID  GAME_DATE  HTM  VTM
3734   21500587   20160114  PHI  CHI
4496   21500588   20160114  ORL  TOR
24461  21500589   20160114  MEM  DET
22856  21500590   20160114  SAS  CLE
13450  21500591   20160114  UTA  SAC
2656   21500592   20160114  GSW  LAL
7935   21500593   20160115  IND  WAS
1100   21500594   20160115  OKC  MIN
10858  21500595   20160115  BOS  PHX
20773  21500596   20160115  BKN  POR
401    21500597   20160115  CHI  DAL
14247  21500598   20160115  NOP  CHA
5205   21500599   20160115  MIL  ATL
11880  21500600   20160115  DEN  MIA
6449   21500601   20160115  HOU  CLE
5214   21500602   20160116  ATL  BKN
10126  21500603   20160116  CHA  MIL
25068  21500604   20160116  WAS  BOS
2670   21500605   20160116  DET  GSW
3742   21500606   20160116  PHI  POR
6089   21500607   20160116  MEM  NYK
13456  21500608   20160116  UTA  LAL
19352  21500609   20160116  LAC  SAC
1103   21500610   20160117  MIN  PHX
23523  21500611   20160117  OKC  MIA
411    21500612   20160117  SAS  DAL
7939   21500613   20160117  DEN  IND
6455   21500614   20160117  LAL  HOU
3747   21500615   20160118  NYK  PHI
13463  21500616   20160118  CHA  UTA
20791  21500617   20160118  WAS  POR
24472  21500618   20160118  MEM  NOP
7462   21500619   20160118  DET  CHI
4504   21500620   20160118  ATL  ORL
5782   21500621   20160118  TOR  BKN
2688   21500622   20160118  CLE  GSW
420    21500623   20160118  DAL  BOS
6459   21500624   20160118  LAC  HOU
10132  21500625   20160119  MIA  MIL
1109   21500626   20160119  NOP  MIN
11901  21500627   20160119  DEN  OKC

In [ ]:
relevant_path = "data/csv/"
included_extensions = ['csv']
file_names = [fn for fn in os.listdir(relevant_path)
              if any(fn.endswith(ext) for ext in included_extensions)]
len(file_names)

In [79]:
# Adding all games data after the missing range 1/16-1/17 to a test dataset
test_range = shots[(shots['GAME_ID'] > 21500614) & (shots['GAME_ID'] < 21500668)]
test_range = test_range[['GAME_ID','GAME_DATE','HTM','VTM']]
test_range.drop_duplicates(inplace=True)
test_range.sort_values('GAME_ID')

        GAME_ID  GAME_DATE  HTM  VTM
3747   21500615   20160118  NYK  PHI
13463  21500616   20160118  CHA  UTA
20791  21500617   20160118  WAS  POR
24472  21500618   20160118  MEM  NOP
7462   21500619   20160118  DET  CHI
4504   21500620   20160118  ATL  ORL
5782   21500621   20160118  TOR  BKN
2688   21500622   20160118  CLE  GSW
420    21500623   20160118  DAL  BOS
6459   21500624   20160118  LAC  HOU
10132  21500625   20160119  MIA  MIL
1109   21500626   20160119  NOP  MIN
11901  21500627   20160119  DEN  OKC
1636   21500628   20160119  PHX  IND
3756   21500629   20160120  ORL  PHI
23541  21500630   20160120  WAS  MIA
16441  21500631   20160120  BKN  CLE
6095   21500632   20160120  NYK  UTA
5789   21500633   20160120  TOR  BOS
2699   21500634   20160120  CHI  GSW
6463   21500635   20160120  HOU  DET
14272  21500636   20160120  OKC  CHA
432    21500637   20160120  DAL  MIN
19361  21500638   20160120  LAL  SAC
5228   21500639   20160120  POR  ATL
6791   21500640   20160121  CLE  LAC
29327  21500641   20160121  NOP  DET
11922  21500642   20160121  DEN  MEM
5243   21500643   20160121  SAC  ATL
1642   21500644   20160121  PHX  SAS
4531   21500645   20160122  ORL  CHA
7477   21500646   20160122  BOS  CHI
13468  21500647   20160122  BKN  UTA
6099   21500648   20160122  NYK  LAC
5792   21500649   20160122  TOR  MIA
6469   21500650   20160122  HOU  MIL
448    21500651   20160122  DAL  OKC
2717   21500652   20160122  GSW  IND
22878  21500653   20160122  LAL  SAS
6105   21500655   20160123  CHA  NYK
10138  21500657   20160123  NOP  MIL
1120   21500658   20160123  MIN  MEM
7489   21500659   20160123  CLE  CHI
1656   21500660   20160123  PHX  ATL
11937  21500661   20160123  DEN  DET
20813  21500662   20160123  POR  LAL
12274  21500663   20160123  SAC  IND

Missing games are not recoverable unfortunately. I adjusted the end date of my training dataset to minimize having missing games.